@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Luckiest+Guy&family=NTR&family=Playwrite+US+Modern:wght@100..400&display=swap');
@import "tailwindcss";

:root {
  --title-color: #D77A61;
  --span-color: #D8B4A0;
  --bg-color: #223843;
  --text-color: #EFF1F3;
  --bg-tag: #DBD3D8;
  --text-section: 18rem;
  --h-section: 80vh;
}

@theme {
  --font-title: "Luckiest Guy";
  --font-text: "Comic Neue";
  
  --animate-ticker: marquee 20s cubic-bezier(1,1,1,1) infinite;
  --animate-typewriter: typewriter 2s steps(11) forwards;
  --animate-caret: typewriter 2s steps(22) forwards, blink 1s step-end infinite 2s;
  --animate-typing: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;

  @keyframes marquee {
    0% {
      transform: translateX(10%)
    }
    100% {
      transform: translateX(-90%)
    }
  }


  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--title-color) }
  }
}

