---
import "../styles/global.css";
---

<div class="font-title p-1 text-[var(--text-color)]">
  <select id="language-select" class="w-full bg-[var(--bg-color)] placeholder:text-[var(--text-color)] text-[var(--tag-color)] text-lg border border-slate-200 rounded pl-3 pr-8 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md appearance-none cursor-pointer">
    <option value="es" class="text-[var(--text-color)]" selected>SP</option>
    <option value="en" class="text-[var(--text-color)]">EN</option>
  </select>
</div>

<script type="module" client:load>
  const currentLang = window.localStorage.getItem('lang') ?? 'es'
  const select = document.getElementById('language-select')
  select.value = currentLang

  document.addEventListener('DOMContentLoaded', () => {
    select.addEventListener('change', (e) => {
      const lang = e.target.value 
      window.localStorage.setItem('lang', lang)
      if (lang != '')
        window.location.href = `/${lang}/`
    })
  }) 
</script>
