---
import "../styles/global.css";

interface Props {
  sectionName: string
}

const { sectionName } = Astro.props as Props

---

<div class="flex items-center p-2">
  <div>
    <h2 class="font-text text-[var(--span-color)] sm:text-3xl text-xl mr-2">>_</h2>
  </div>
  <div>
    <h2 class="font-text sm:text-4xl text-2xl text-[var(--text-color)]">{ sectionName }</h2>
  </div>
</div>
