---
import "../styles/global.css";
import Tag from "./Tag.astro";

interface Props {
  stack: Array<string>
}

const { stack } = Astro.props as Props
---

<div class="overflow-x-hidden">
  <div class="grid grid-flow-col grid-rows-2 gap-4 animate-ticker">
  {
  stack.map((tech: string) => (<Tag tag={ tech } />))
  } 
  </div>
</div>

