---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="flex flex-col flex-wrap items-center mx-auto w-screen scroll-smooth">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="utf8">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>Carlos Flores Portfolio</title>
    <script src="https://kit.fontawesome.com/6130fb0810.js" crossorigin="anonymous"></script>
	</head>
  <body class="flex flex-col justify-between flex-wrap items-center sm:w-4/5 w-full px-3  h-screen my-8 bg-[var(--bg-color)] overflow-x-hidden">

		<slot />

		<script>
			import "../scripts/loadLanguage"
		</script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
	</body>
</html>

